<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQREp5_Ddt9tTvC7c4bTp2T2PEM6MBkt8</string>
	<key>GCM_SENDER_ID</key>
	<string>705442055445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iOS.cargoDriverApp</string>
	<key>PROJECT_ID</key>
	<string>cargo-driver-app-8bedd</string>
	<key>STORAGE_BUCKET</key>
	<string>cargo-driver-app-8bedd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705442055445:ios:85a0a4dc35a7332753151c</string>
</dict>
</plist>